@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Sora", sans-serif;
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
}

body {
  font-family: "Inter", sans-serif;
}